
              <div class="col-lg-12">
                
                    <!-- -- 2ND ROW OF PANELS ---->
                    <div class="row">
                    
                        <link-panel ng-repeat="panel in panelList"
                            pn-name="{{ panel.name }}"
                            pn-title="{{ panel.title }}"
                            pn-text="{{ panel.text }}"
                            pn-link-href="{{ panel.linkhref }}"
                            pn-link-text="{{ panel.linktext }}"
                            pn-img-file="{{ panel.imgFile }}"
                        ></link-panel>

                    </div><!-- --/END 2ND ROW OF PANELS ---->
                    
              </div>
