<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the admin site with a clear mission: to control all tasks related to development projects at BoF.">
    <meta name="author" content="Rui Carvalho">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="favicon.ico">

    <title>BoF - Developers Mission Control</title>

    <% include cssFiles %> 
    <script src="js/chart-master/Chart.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body ng-app="mcApp" ng-cloak>

      <!-- **********************************************************************************************************************************************************
                                                                       HEADER - (TOP BAR CONTENT & NOTIFICATIONS) -->
      <!--header start-->
      <% include header %>  
      <!--header end-->


      <!-- **********************************************************************************************************************************************************
                                                                                MAIN SIDEBAR MENU -->
      <!--sidebar start-->
      <% include side-menu %>
      <!--sidebar end-->


      <!-- **********************************************************************************************************************************************************
                                                                                  MAIN CONTENT -->
      <section id="main-content" style="margin-left: 210px;">
          <section class="wrapper">
              <div ng-view>
                  <%- body %>
              </div>
          </section>
      </section>
      
    <!-- **********************************************************************************************************************************************************
                                                                                     FOOTER -->
    <!--footer start-->
    <% include footer %>
    <!--footer end-->


    <% include jsScripts %> 
    
  </body>
</html>
